<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ini to YAML</title>
  <style>
    textarea {
      width: 100%;
      height: 300px;
    }
  </style>
</head>
<body>
  {% load static %}
  <div id="demo">
    
    {% for id, name in files.items %}
     <p> Name of the file<a href = "">{{ id }} : {{ name }} </a> </p>
    {% endfor %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <h2>YAML File</h2>
      <br>

      
      <input type="file" name="file" id="fileInput">
      <input type="submit" value="Upload">
    </form>
  </div>
</body>
</html>
